/* static/css/user.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    font-weight: bold;
}
